<launch>

  <include file="$(find ieee2014_localization)/launch/particle_filter.launch"/>

  <node name="blockPublisher" pkg="ieee2014_vision" type="blockPublisher" respawn="true"/>
  <node name="controller" pkg="ieee2014_controller" type="controller" respawn="true"/>

  <include file="$(find ieee2014_tf_broadcaster)/launch/tf_broadcaster.launch"/>
  <node name="target_solver" pkg="ieee2014_tf_target_solver" type="ieee2014_tf_target_solver.py" respawn="true"/>

</launch>
