<!-- -*- mode: XML -*- -->

<launch>
    <node pkg="tf" type="static_transform_publisher" name="gun_broadcaster" args="0 0 0.08067 0 0 0 tilt_bracket gun 100" />
    <node pkg="tf" type="static_transform_publisher" name="gun_forward_broadcaster" args="0 0 0.08067 0 0 0 tilt_bracket_forward gun_forward 100" />
    <node pkg="tf" type="static_transform_publisher" name="lidar_broadcaster" args="0 0 0 0 0 0 robot lidar 100" />
    <node pkg="tf" type="static_transform_publisher" name="target_broadcaster" args="-1.21285 0 0.6731 0 0 0 course target 100" />
    <node pkg="ieee2014_tf_broadcaster" type="ieee2014_tf_broadcaster.py" name="ieee2014_tf_broadcaster"/>
</launch>

